html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: black
}

a:hover{
    text-shadow:0px 0px 1px black;
    transition: all 200ms ease-in-out;
}

li{
    list-style: none;
}

.text-center{
    text-align: center;
}

.nav-inner-container,
.header-inner-container,
.project-inner-container,
.skill-inner-container,
.project-inner-container,
.contact-inner-container{
    /* border: 1px solid black; */
    padding: 8rem 3rem;
    width: 100%;
    margin: 0 auto;
}

.header-content p:first-of-type,
.project-header p:first-of-type,
.skill-header p:first-of-type,
.contact-header p:first-of-type{
    /* border: 1px solid red; */
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 0.25rem;
}

.project-header p:last-of-type,
.skill-header p:last-of-type,
.contact-header p:last-of-type{
    /* border: 1px solid red; */
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
}

.header-img,
.about-img{
    text-align: center;
}

.header-img img,
.about-img img{
    max-width: 10rem;
    border-radius: 50%;
}

.header-container button:hover,
.contact-form button:hover,
.about-content button:hover{   
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    transition: background-color 0.25s ease-in-out;
}

.header-container button:hover a,
.contact-form button:hover a,
.about-content button:hover a{   
    color: black;
}


/* FONTS SIZES FOR MOBILE VIEW*/

p,
button{
    /* border: 1px solid red; */
    font-size: 1.25rem;
    line-height: 2.25rem;
}

button{
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: black;
}


/* NAV CONTAINER */
.nav-container{
    position: fixed;
    top: 0;
    width: 100%; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

.nav-inner-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-links{
    background-color: rgba(255, 255, 255, 0.9);
    border:1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;

    display: flex;
    align-items: center;
    z-index: 1;
}

.nav-links ul li{
    margin: 5rem 5rem;
}

.nav-download-resume{
    display: none;
}

.nav-download-resume a{
    font-weight: 900;
}

.nav-burger{
    cursor: pointer;
}

.nav-links-active{
    transform: none;
}

.nav-logo img{
    width: 3rem;
}


/* HEADER CONTAINER */

.header-container{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content p:last-of-type{
    max-width: 35rem;
    margin: 0 auto;
}

.header-content > *{
    /* border: 1px solid blue; */
    padding: 1rem;
}

.header-content a{
    color: white;
    padding: 0 1rem;
}

.header-img img:last-of-type{
    display: none;
}




/* PROJECT CONTAINER */

.project-content{
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
}

.project-item{
    margin: 1rem;
    position: relative;
    display: block
}
 
.project-item::before{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.project-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.project-overlay{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.project-overlay:hover{
    opacity: 1; 
}


/* SKILLS CONTAINER */

.skill-content span p{
    padding: 1rem;
}

.skill > *{
    padding: 1rem 0 0 0;
    text-align: center;
}

.skill > *:nth-child(even){
    padding: 0;
}

.skill > *:nth-child(odd){
    padding: 2rem 0 0 0;
}

.skill{
    padding: 0 5rem;
    background-color: rgba(0, 0, 0, 0.05);
}


.skill > * P:first-of-type{
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}

.skill > * P:last-of-type{
    margin-bottom: 1rem;
}

.skill > *:nth-child(even) p:first-of-type{
    /* border: 1px solid red; */
    border: none;
    margin-bottom: 0;
    font-size: 1rem;
}

.skill > div:nth-child(odd) p:first-of-type i{
    padding: 0 .5rem 0 0;
}



.about-img{
    padding: 2rem 0 1rem 0;
}

.about-content{
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
}

.about-content > *{
    padding: 1rem 0;
}

.about-content button{   
    padding: 1rem 3rem;
    margin-top: 2rem;
}

.about-content a{
    color: white;
}

/* CONTACT CONTAINER */

.contact-inner-container{
    padding: 2rem 5rem 4rem 5rem;
}

.contact-form input,
.contact-form textarea{
    border: none;
    width: 100%;
    height: 4rem;
}

.contact-form{
    max-width: 35rem;
    margin: 0 auto;
}

.contact-form form p{
    margin: 1rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

form textarea{
    max-width: 100%;
}

.recaptcha{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form button{   
    padding: 1rem 3rem;
    margin-top: 1rem;
    color: white;
    font-weight: bold;
}

.contact-form button:hover{   
    color: black;
}





/* FOOTER CONTAINER */
.footer-container{
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding: 3rem 0;
}

.footer-container p{
    /* border: 1px solid red; */
    font-size: 1rem;
}

.footer-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container ul li{
    padding: .5rem .5rem;
}

.footer-container ul li i{
    /* border: 1px solid red; */
    font-size: 2rem
}

.footer-container ul li i:hover{
    color: rgba(0, 0, 0, 0.8);
}






/* MEDIA QUERIES */
@media (min-width: 1100px){

    /* GLOBAL ATTRIBUTES */
    .nav-inner-container,
    .header-inner-container,
    .project-inner-container,
    .skill-inner-container,
    .contact-inner-container{
        /* border: 1px solid black; */
        width: 80%;
    }

    .project-header,
    .skill-header,
    .contact-header{
        padding-bottom: 2rem
    }

    .skill-header,
    .contact-header{
        padding-top: 2rem;
    }


    /* FONT ATTRIBUTES */

    .header-content p:first-of-type,
    .project-header p:first-of-type,
    .skill-header p:first-of-type,
    .contact-header p:first-of-type{
        /* border: 1px solid red; */
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .project-header p:last-of-type,
    .skill-header p:last-of-type,
    .contact-header p:last-of-type{
        /* border: 1px solid red; */
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: 700;
    }

    p,
    button{
        /* border: 1px solid red; */
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    
    button{
        /* border: 1px solid red; */
        font-size: 1.25rem;
        line-height: 2rem;
    }




    /* NAV */
    .nav-inner-container{
        width: 98%;
        padding: 1rem 3rem;
    }

    .nav-links{
        background-color: transparent;
        border: none;
        transform: none;
        position: relative;
        height: auto;
    }

    .nav-links ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links ul li{
        margin: 0 3rem;
    }
    
    .nav-download-resume{
        display: block;
    }

    .nav-download-resume button{
        padding: 0.5rem 3rem;
        background-color: transparent;
        border: 2px solid black;
        cursor: pointer;
        transition: all 0.25s ease-in-out
    }

    .nav-download-resume a{
        color: black;
    }

    .nav-download-resume button:hover{
        background-color: black;
    }

    .nav-download-resume button:hover a{
        color: white;
    }

    .nav-burger{
        display: none;
    }





    /* HEADER */
    .header-inner-container{
        width: 100%;
        padding: 7rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-img img:first-of-type{
        display: none;
    }

    .header-img img:last-of-type{
        display: block;
        border-radius: 0px;
        max-width: 25rem;
        margin: 3rem;
        /* box-shadow properties */
        box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);
    }

    .header-content p:last-of-type{
        text-align: left;
        max-width: 40rem;
    }

    .header-content{
        padding: 2rem;
        text-align: left;
    }

    .header-content button{
        margin-top: 2rem;
    }



    /* PROJECTS */
    .project-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }



    /* SKILLS */

    .skill-inner-container{
        width: 60%;
    }

    .skill-content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .skill{
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .skill p{
        /* border: 1px solid red; */
        font-size: 1rem;
    }

    .skill > *{
        text-align: left;
    }
    .skill > *:nth-child(even){
        padding: 0;
    }

    .skill > *:nth-child(odd){
        padding: 2rem 0 0 0;
    }

    .skill-about{
        padding: 0 2rem 0 0;
    }


    .about-img img{
        width: 100%;
        margin: 0 auto;
    }

    .about-content{ 
        padding: 0;
        max-width: 30rem;
    }

    .about-content p{
        text-align: left;
        font-size: 1.25rem;
    }




    /* CONTACT */
    .contact-inner-container {
        padding-top: 4rem;
    }




}




